.card {
    border: 1px solid rgb(192, 187, 187);
    border-radius: 0.5rem;
    width: 15rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.card > img {
    width: 6rem;
    height: 6rem;
}

.card > .name {
    font-weight: bold;
    font-size: large;
}

.card > p {
    /* text-align: center; */
    font-size: small;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}